.topNavHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  height: 70px; 
  background: #f4f4f4; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  box-sizing: border-box;
}
.topNavLeft {
 display: flex;
 flex-direction: row;
 align-items: center;
 gap: 12px;
}

.imgLogo{
  width: 32px;
  height: 32px;
  object-fit: contain;
  display: block;
}

.topNavBrand{
  font-weight: 800;
  font-size: 18px;
  color: #333;
}

.topNavMenu {
  display: flex;
  gap: 4px;
  align-items: flex-end; 
  height: 100%;
}

.topNavMenuItem {
  font-weight: 400;
  font-size: 14px;
  color: #666;
  text-decoration: none;
  padding: 12px 24px;
  transition: all 0.2s;
  margin-bottom: 10px; 
}


.topNavMenuItemActive {
  background: #fff; 
  color: #000 !important;
  font-weight: 700;
  position: relative;
  padding: 15px 30px 25px 30px;
  border-radius: 20px 20px 0 0; 
  margin-bottom: -1px; 
  z-index: 11;
}


.topNavMenuItemActive::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -20px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-bottom-right-radius: 20px;
  box-shadow: 5px 0 0 0 #fff; 
}


.topNavMenuItemActive::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -20px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-bottom-left-radius: 20px;
  box-shadow: -5px 0 0 0 #fff;
}


.contentTopNav {
  flex: 1;
  background: #fff; 
  border-radius: 40px 40px 0 0; 
  margin-top: -10px; 
  position: relative;
  z-index: 5;
  box-shadow: 0 -10px 20px rgba(0,0,0,0.02);
  padding-top: 90px; 
}

.topNavActions{
  display: flex;
  align-items: center;
  gap: 16px;
}

.nameUser{
  font-weight: 400;
  font-size: 14px;
  color: #343a40;
}

.avatarCircle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  object-fit: contain;
}